footer {
    background-color: #212529;
    padding-top: 20px;
    color: white;
}

footer h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
}

footer a, footer .highlight {
    color: white;
    text-decoration: none;
    transition: 0.15s;
    cursor: pointer;
}

footer a:hover, .highlight:hover {
    font-weight: bold;
    color: var(--bs-danger-bg-subtle);
}